<html>
    <head>
        <title>landing</title>
        <%- include('partials/header') -%>
    </head>

<body>
<header>
    <div class="navimg"  >
        <nav class="box-Text">NOVE
        <img src="../views/image/landing.jpg">
        </nav>
</div>
</header>
<div class="welcome">
    <h1>Welcome From NOVE</h1> 
    <div class="br">
        <a href="/home" class="btn btn-primary">Shop Now</a> 
    </div>
</div>
<div class="box-blur">
    
    <div id="box-blur-text">  
    </div>
    <img src="../views/image/landing.jpg">
    <img src="../views/image/color pencils 1.jpg">
    <img src="../views/image/color pencils 3.jpg">
    <img src="../views/image/color pencils.jpg"> 
    <img src="../views/image/painting brush.jpg">
    <img src="../views/image/watercolor.jpg">
    <img src="../views/image/watercolor.jpg">
</div>

<footer class="space" class="footer"></footer>

<footer id="contact" class="footer">
    <div class="footer-contact">
        <p>&copy; 2025 NOVE Shop. All Rights Reserved.</p>

            </div>
</footer>
</body>
</html>
