<html lang="en">
<head>
    <%- include('partials/head') %>
</head>
<body>
    <header>
        <h1>........art.......</h1>
    </header>
    <nav>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Pencils & Charcoal</a></li>
            <li><a href="#">Pen & Marker</a></li>
            <li><a href="#">Brushes & Paints</a></li>
            <li><a href="#">Erasers & Blenders</a></li>
        </ul>
    </nav>
    <footer>
       <p>...........</p>
    </footer>
    
    <script src="/js/javascript.js"></script>
</body>
</html>